<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>84053905109-tfr8njc2drr2qg4p0dd3do2h4qu725p3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.84053905109-tfr8njc2drr2qg4p0dd3do2h4qu725p3</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>84053905109-t93vd2vmg043igq3pfhgclaknpj4fgi6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCpIQrhQsIZuZlkTfqNl6--hk6zRk8roBQ</string>
	<key>GCM_SENDER_ID</key>
	<string>84053905109</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ufide10439.pulperiaj</string>
	<key>PROJECT_ID</key>
	<string>pulperia-j-7be3c</string>
	<key>STORAGE_BUCKET</key>
	<string>pulperia-j-7be3c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:84053905109:ios:c523355b6e688102321c5c</string>
</dict>
</plist>